@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid-pattern {
  /* 调整大小和颜色让它更像原版 */
  background-size: 50px 50px;
  background-image: radial-gradient(circle, #333 1.5px, transparent 1.5px);
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}

html, body {
  height: 100%;
  background-color: #050505; /*稍微带一点点灰的黑，不刺眼*/
  color: #a1a1aa;
}